:root {
  --bg-gradient-light: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --bg-gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);
  --main-bg-color: hsl(200, 60%, 99%);
  --secondary-bg-color: hsl(200, 60%, 99%);
  --text-color: #000;
  --active-btn-color: hsl(3, 71%, 56%);
  --border-color: hsl(0, 0%, 78%);
}

body.dark {
  --main-bg-color: hsl(225, 23%, 24%);
  --secondary-bg-color: hsl(226, 25%, 17%);
  --text-color: #fff;
  --border-color:hsl(226, 11%, 37%) ;
}