@import '../styles/variables';

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 900px;
  padding: 30px;
  border-radius: 20px;
  border: solid 1px var(--border-color);
  background-color: var(--main-bg-color);
}

.task__name {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 10px;
}

.task__description {
  font-size: 18px;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 10px;
}
.btn-container {
  display: flex;
  gap: 10px;
}

.task__btn {
  padding: 10px 20px;
  border-radius: 45px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  border: solid 1px var(--border-color);
  background-color: var(--main-bg-color);
  cursor: pointer;

  &:hover {
    transition: border 0.1s ease;
    outline: 2px solid var(--active-btn-color);
    background-color: var(--border-color);
  }
}

.task__editing {
  width: 40%;
  height: 40px;
  padding: 0 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  border: solid 1px var(--border-color);
  background-color: var(--main-bg-color);
  color: var(--text-color);
}
