*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body{
  height: 100vh; /* повна висота екрану */
  background: linear-gradient(to bottom,#040918 , #091540);
  color: white;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}